<h2>Insira um valor a ser calculado</h2>

<form action="/conversao" method="post">
  <input class="form-control mb-1" type="text" name="valorUser" placeholder="Digite o valor em R$">

  <button class="btn btn-primary">Converter</button>
</form>
